body{
  position: absolute;
  width: 100%;
  height: 100%
  background-color:white;
}

/* Remove the navbar's default margin-bottom and rounded borders */
.navbar {
  margin-bottom: 0;
  border-radius: 0;
}

* {box-sizing: border-box;}
.wrapper {
  width: 956px;
  padding: 35px 95px;
  margin: 10px;
}
.wrapper > div {
  border: 0.5px solid black;
  border-radius: 5px;
  background-color: white;
  padding: 1em;
  color: black;
}.wrapper {
  display: grid;
  grid-template-columns: repeat(10px 10px);
  grid-gap: 5px;
  grid-auto-rows: minmax(50px, auto);
  grid-column-end: 1;
}
.explain {
  grid-column: 2 / 3;
  grid-row: 1;
}
.menu {
  grid-column: 3 / 4;
  grid-row: 1;
}
.text {
  grid-column: 1;
  grid-row: 1 / 6;
}
.graphmap{
  grid-column: 2 / 3;
  grid-row: 2 / 4;
}
.graphscatter{
  grid-column: 3 / 3;
  grid-row: 2 / 4;
}
.graphpie {
  grid-column: 2;
  grid-row: 4 / 6;
}
.graphline {
  grid-column: 3;
  grid-row: 4 / 6;
}


/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {height: 100%;
background-color: pink;
}

/* Set gray background color and 100% height */
.sidenav {
padding-top: 20px;
background-color: #f1f1f1;
width: 100%
height: 2000px;
}

/* Set black background color, white text and some padding */
footer {
background-color: #555;
color: white;
padding: 15px;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 100%) {
.sidenav {
  height: auto;
  padding: 15px;
}
.row.content {height:auto;}
}

svg {
    font-family: Sans-Serif, Arial;
}
.line {
  stroke-width: 2;
  fill: none;
}

.axis path {
  stroke: black;
}

.text {
  font-size: 12px;
}

.title-text {
  font-size: 12px;
}

.show {
  display: block;
}

.hide {
  display: none;
}

.reload {
  position: absolute;
  top: 200px;
  right: 10px;
  width: 50px;
  height: 25px;
  border: 1px solid black;
}
.tooltip{
  position: absolute;
  background-color: white;
  border: 1px solid black;
}
