* {
  box-sizing: border-box;
}

body {
  font-family: Arial;
  padding: 10px;
  background: #f1f1f1;
}

body, html {
  height: 100%;
}

.container{
  position: absolute;
  min-width: 80px;
}

.header {
  padding: 30px;
  text-align: center;
  background: white;
}

.textdementia {
  text-align: center;
}

.bg-img {
  background-image: url("../img/dementia.png");
  position: static;
  background-color: #cccccc; /* Used if the image is unavailable */
  height: 100%; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}

.inner-container {
  color:white;
}
