* {
  box-sizing: border-box;
}

body {
  font-family: Arial;
  padding: 10px;
  background: #f1f1f1;
}

body, html {
  height: 100%;
}

.container{
  position: absolute;
  min-width: 80px;
}
.navbar{
  width: 50%;
}

.header {
  padding: 30px;
  text-align: center;
  background: white;
}

.textdementia {
  text-align: center;
}

.bg-img {
  background-image: url("../../doc/dementia.png");
  position: static;
  background-color: #cccccc;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.inner-container {
  position: relative;
  top: 70px;
  left: 30px;
  width: 30%;
  height: 500px;
  color:black;
  opacity: 20px;
  box-shadow: 5px 10px 18px #888888;
}
